* {
  font-family:
    JetBrainsMono Nerd Font,
    FontAwesome,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  font-weight: bold;
}

window#waybar {
  /* background-color: #1f2223; */
  background-color: rgba(0, 0, 0, 0.4);
  color: #ebdbb2;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  all: unset;
  background-color: #689d6a;
  color: #282828;
  border: none;
  border-radius: 5px;
  margin-bottom: 1px;
  padding-left: 15px;
  padding-right: 15px;
  transition: transform 0.1s ease-in-out;
}

button:hover {
  background: inherit;
  background-color: #8ec07c;
}

button.active {
  background: inherit;
  background-color: #9db37e;
}

#workspaces button {
  padding: 0 10px;
  margin: 0 1px;
  margin-bottom: 0px;
}

#window {
  padding-left: 1px;
}

#custom-swaync {
  background-color: #689d6a;
  color: #282828;
  border: none;
  border-radius: 5px;
  margin-bottom: 1px;
  padding-left: 10px;
  padding-right: 5px;
}

#custom-menu {
  background-color: #689d6a;
  color: #282828;
  border: none;
  border-radius: 5px;
  margin-bottom: 1px;
  padding-left: 10px;
  padding-right: 5px;
}

#custom-powermenu {
  background-color: #e23c2c;
  color: #282828;
  border: none;
  border-radius: 5px;
  margin-bottom: 1px;
  margin-right: 4px;
  padding-left: 10px;
  padding-right: 5px;
}

#custom-power {
  background-color: #e23c2c;
  color: #282828;
  border: none;
  border-radius: 5px;
  margin-bottom: 1px;
  margin-right: 4px;
  padding-left: 10px;
  padding-right: 5px;
}

#battery {
  background-color: #5d9da0;
  color: #282828;
  border: none;
  border-radius: 5px;
  margin-bottom: 1px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #e23c2c;
  color: #1d2021;
  border: none;
  border-radius: 5px;
  margin-bottom: 1px;
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: #689d6a;
  color: #282828;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#memory {
  background-color: #c8779b;
  color: #282828;
  border: none;
  border-radius: 5px;
  margin-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

#clock {
  background-color: #98971a;
  color: #282828;
  border: none;
  border-radius: 5px;
  margin-bottom: 1px;
  padding-left: 10px;
  padding-right: 8px;
}

#disk {
  background-color: #964b00;
}

#backlight {
  background-color: #98bbad;
  color: #282828;
  border: none;
  border-radius: 5px;
  margin-bottom: 1px;
  padding-left: 10px;
  padding-right: 8px;
}

#network {
  background-color: #2980b9;
  color: #282828;
  border: none;
  border-radius: 5px;
  margin-bottom: 1px;
  padding-left: 10px;
  padding-right: 8px;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  background-color: #f2b13c;
  color: #282828;
  border: none;
  border-radius: 5px;
  margin-bottom: 1px;
  padding-left: 10px;
  padding-right: 8px;
}

#tray {
  background-color: #ec7024;
  color: #282828;
  border: none;
  border-radius: 5px;
  margin-bottom: 1px;
  padding-left: 10px;
  padding-right: 8px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
